.header-box {
    position: sticky;
    top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    /* box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2); */
}
.glass {
    background: #1c1c1c60;
    /* border-radius: 0.8rem; */
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  }
  .glass-2 {
    -webkit-backdrop-filter: blur(14px) saturate(119%);
    backdrop-filter: blur(14px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 0.8rem;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  }
  .glass-text {
    color: rgba(255, 255, 255, 0.65);
  }

  /* - Profile */

  .content {
    display: none;
  }
  .content-active {
    display: flex;
  }
  .tab-container {
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  }
  .tabs {
    background-color: transparent;
    cursor: pointer;
    transition: background-color 150ms ease-out;
  }
  .active-tabs {
    background-color: rgba(255, 255, 255, 0.17);
  }
  .stats {
    border-left: 1px solid rgba(255, 255, 255, 0.17);
  }
  .border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  }